<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<form method='{{verb}}' action='{{action}}' enctype="multipart/form-data">
    <br/><h1>User</h1><br/>
    User Name: <input type='text' name='username' placeholder='User Name'>
    Password: <input type='password' name='password' placeholder='Password'>
    <br/>
    First Name: <input type='text' name='firstName' placeholder='First Name'>
    Last Name: <input type='text' name='lastName' placeholder='Last Name'>
    <br/>
    Email: <input type='text' name='email' placeholder='Email'>
    <br/><h1>User's Groups</h1><br/>
    Group: <input type='text' name='group1' value='user'>
    <br/>
    Group: <input type='text' name='group2' placeholder='Group 2'>
    <br/>
    Group: <input type='text' name='group3' placeholder='Group 3'>
    <br/><h1>User's Headers</h1><br/>
    Header Name: <input type='text' name='headername1' placeholder='Header 1'>
    Header Value: <input type='text' name='headervalue1' placeholder='Value 1'>
    <br/>
    Header Name: <input type='text' name='headername2' placeholder='Header 2'>
    Header Value: <input type='text' name='headervalue2' placeholder='Value 2'>
    <br/>
    Header Name: <input type='text' name='headername3' placeholder='Header 3'>
    Header Value: <input type='text' name='headervalue3' placeholder='Value 3'>
    <br/><h1>User's Cookies</h1><br/>
    Cookie Name: <input type='text' name='cookiename1' placeholder='Cookie 1'>
    Cookie Value: <input type='text' name='cookievalue1' placeholder='Value 1'>
    Expires: <input type='text' name='cookieepires1' placeholder='Expires 1'>
    Max Age: <input type='text' name='cookiemaxage1' placeholder='Max Age 1'>
    <br/>
    Cookie Name: <input type='text' name='cookiename2' placeholder='Cookie 2'>
    Cookie Value: <input type='text' name='cookievalue2' placeholder='Value 2'>
    Expires: <input type='text' name='cookieepires2' placeholder='Expires 2'>
    Max Age: <input type='text' name='cookiemaxage2' placeholder='Max Age 2'>
    <br/>
    Cookie Name: <input type='text' name='cookiename3' placeholder='Cookie 3'>
    Cookie Value: <input type='text' name='cookiealue3' placeholder='Value 3'>
    Expires: <input type='text' name='cookieepires3' placeholder='Expires 3'>
    Max Age: <input type='text' name='cookiemaxage3' placeholder='Max Age 3'>
    <br>
    <br>
    <input type='submit'>
</form>
</body>
</html>