<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<form method='{{verb}}' action='{{action}}' enctype="multipart/form-data">
    <br/><h1>User</h1><br/>
    User Name: <input type='text' name='username' placeholder='User Name'>
    <br/>
    books: <input type='text' name='books' placeholder='Books JSON array' maxlength='5000' size='5000'>
    <br/>
    <input type='submit'>
</form>
</body>
</html> 