<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<form method='{{verb}}' action='{{action}}' enctype="multipart/form-data">
    <input type='color' name='color'>
    <input type='submit'>
</form>
</body>
</html>