<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<form method='{{verb}}' action='{{action}}' enctype="multipart/form-data">
    <br/>
    Data: <textarea rows="50" cols="100" name="text" placeholder="Enter text"></textarea>
    <br>
    <br>
    <input type='submit'>
</form>
</body>
</html>