<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<form method='{{verb}}' action='{{action}}' enctype="multipart/form-data">
    <br/><h1>User</h1><br/>
    User Name: <input type='text' name='username' placeholder='User Name'>
    Id: <input type='text' name='id' placeholder='Id'>
    Issue: <input type='text' name='issue' placeholder='Issue'>
    <input type='submit'>
</form>
</body>
</html>