<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<form method='{{verb}}' action='{{action}}' enctype="multipart/form-data">
    <input type='text' name='username' placeholder='User Name'>
    <input type='password' name='password' placeholder='Password'>
    <input type="checkbox" name="rememberMe" value="rememberMe"> Remember Me<br>
    <input type='submit'>
</form>
</body>
</html>