<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style="color: white; background-color: rgb(7, 61, 109)">
<div style="width: 50%; text-align: center;">
    <h2>Reset your password.</h2>
    <form method='{{verb}}' action='{{action}}' enctype="multipart/form-data">
        <input style="padding: 5px; margin: 8px;" type='password' name='password' placeholder='Password'><br/>
        <input style="padding: 5px; margin: 8px;" type='password' name='reenterPassword' placeholder='Password'><br/>
        <input type='hidden' name='token' value='{{token}}'><br/>
        <input type='submit' value="Reset Password">
    </form>
</div>
</body>
</html>